<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <meta name="theme-color" content="#7952b3" />
    <link href="css/riley.css" rel="stylesheet" />
    
</head>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/c4bc380e37.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script>
        $('.circle').circleProgress({
            startAngle: -Math.PI / 4 * 2,
            size: 140,
            thickness: 12,
            fill:  {color: '#07C653'}
        }).on('circle-animation-progress', function (event, progress, stepValue) {
            $(this).find('strong').html(Math.round(100 * stepValue) + '%');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
@*</body>
</html>*@
